body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#pl {
    background: linear-gradient(to top, red, red, white, white);
    background-repeat: no-repeat;
}

#en {
    background: linear-gradient(to left, rgb(0, 255, 21), rgba(255, 0, 221, 0.541), rgba(9, 4, 248, 0.623), rgba(245, 229, 9, 0.637));
    background-repeat: no-repeat;
}

hr {
   width: 500px;
}

#title,
#answer {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform:uppercase;
}

#title a {
    font-size: medium;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

#title span {
    font-size: medium;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: rgba(106, 170, 100, 0.7);
    color: white;
    border-color: white;
}

.present {
    background-color: rgba(201, 180, 88, 0.7);
    color: white;
    border-color: white;
}

.absent {
    background-color: rgba(120, 124, 126, 0.7);
    color: white;
    border-color: white;
}